/build/
/Debug/
/Release/
/Debug Library/
/Release Library/
/x86/
/x64/
.vs/
.vscode/
.DS_Store
*.exe
*.zip
*.user
*.sdf
*.pdb
*.ipdb
*.iobj
*.suo
*.VC.opendb
*.VC.db
/bin/*.lib
/bin/msdf-atlas-gen
output.png
out/
/cmake-gen.bat
**/bin/
!3rdparty
bin-int/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.filters
**.csproj.user
**/Makefile
.vscode/c_cpp_properties.json

.vscode/

PVS-Studio.log

report.html

report.tasks

strace_out

*.log
